@{
    ViewData["Title"] = "Мудрый Орех";
}

<h3>
    О нашем бренде
</h3>
<p>
    Сеть магазинов "Мудрый Орех" существует с 2019 года и имеет несколько физических филиалов по всей России, в том числе в Кемерово и Томске. За эти годы мы завоевали доверие наших покупателей и нашли свое особое место в их сердцах.
</p>
<h3>
    Почему стоит покупать у нас?
</h3>
<p>
    Наш интернет-магазин поставляет только самые свежие продукты и имеет широкий ассортимент орехов, сухофруктов и полезных снеков.
</p>
<h3>
    В чем польза нашей продукции?
</h3>
<p>
    Орехи – очень питательный продукт, в составе которого множество витаминов и микроэлементов. Даже горстка может наполнить энергией человека. В них не содержится холестерин, а также они богаты растительным стерином, белком и волокнами. В грецком орехе, например, содержатся такие элементы, как витамины групп А, B, C, PP, магний и калий.
</p>
<p>
    Сухофрукты также не уступают места в пользе, это источник полезных витаминов, кислот и минералов, необходимых в ежедневном рационе человека. Засушенные ягоды и фрукты богаты пектином, кальцием, магнием, железом, витаминами A, B, P, в них содержится большое количество глюкозы и они очень полезны при авитаминозе или анемии.
</p>
<h3>
    Ассортимент
</h3>
<p>
    В нашем ассортименте собран все ваши любимые бренды, отобранные лично нами. На страницах интернет-магазина вы найдете только самые качественные и проверенные товары.
</p>
<h3>
    Адреса физических магазинов
</h3>
<p>
    г. Кемерово, Кузнецкий проспект, 33/1, ТЦ "Облака, "Щегловский базар", 1 этаж
</p>
<p>
    г. Томск, проспект Ленина, 121, ЦУМ, 2 этаж
</p>